*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.reactmodaloverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.reactmodalwrapper{
    max-width: 500px;
    margin: 2rem auto;
}
.reactmodalcontent{
    position: relative;
    background: white;
    width: 400px;
    background-clip: padding-box;
    border-radius: 12px;
    padding: 30px;
    margin-top: 200px;
    
    
}
.real{
    background-color: rgb(1, 96, 1);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    margin-top: 35px;
    margin-left: 120px;
    
}
.important{
font-family: Arial;
font-weight: 100;
text-align: center;
font-size: 30px;
}
.impotext{
    margin-top: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;

}